@page "/Artistas"

@inject ArtistasAPI artistaAPI

<h3>Artistas</h3>
@if(artistas is not null)
{
    <MudGrid>
        
        @foreach (var artista in artistas)
        {
            // Chamando o componete de card do artista, passando para ele uma object Artista
            <MudItem xs="3">
                <CardArtista Artista="artista"/>
            </MudItem>
        }
    </MudGrid>
}
else
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}





@code {
    //Criação do objeto Collection que guarda os  nomes dos artistas
    private ICollection<ArtistaResponse> artistas = null;

    // Faz a consulta a api, e preenche ICollection com os artistas retornados
    protected override async Task OnInitializedAsync()
    {
        artistas = await artistaAPI.GetArtistasAsync();
    }

}
